<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/page">
<head>
	<title th:text="${status} + ' - ' + ${error}">404</title>
</head>
<body>
	
	<!-- HEADING PAGE -->
	<h2 layout:fragment="heading" th:text="${status} + ' - ' + ${error}" >404</h2>
	
	<!-- BODY PAGE -->
	<div layout:fragment="content">
		<div class="row">
	   	    <div class="col-md-12 text-center">
	   	    	<p th:text="${message}">This page is not available.</p>
	   		</div>
		</div>
	</div>
</body>
</html>