<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/page">

<body>
	
	<div layout:fragment="content">
		
	    <table class="table">
	    	<tr>
	    		<td>Nomor</td>
	    		<td>:</td>
	    		<td th:text="${peserta.nomor}"></td>
	    	</tr>
	    	<tr>
	    		<td>Nama</td>
	    		<td>:</td>
	    		<td th:text="${peserta.nama}"></td>
	    	</tr>
	    	<tr>
	    		<td>Tanggal Lahir</td>
	    		<td>:</td>
	    		<td th:text="${#dates.format(peserta.tglLahir, 'd MMMM yyyy')}"></td>
	    	</tr>
	    	<tr>
	    		<td>Umur</td>
	    		<td>:</td>
	    		<td th:text="${umur}"></td>
	    	</tr>
	    </table>
	    
	    <div class="alert alert-success" th:if="${peserta.prodi != null}" >Selamat Anda lulus seleksi SBMPTN pada prodi <a th:href="${peserta.prodi.univ.urlUniv}" th:text="${peserta.prodi.namaProdi} + ' ' + ${peserta.prodi.univ.namaUniv}"></a></div>
	    <div class="alert alert-danger" th:if="${peserta.prodi == null}" >Mohon maaf, Anda belum lulus seleksi SBMPTN</div>
	</div>
</body>
</html>