<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/page">
<head>
	<link rel="stylesheet" type="text/css" href="/lib/select2-4.0.3/css/select2.min.css"/>
	<link rel="stylesheet" type="text/css" href="/lib/select2-bootstrap/select2-bootstrap.min.css"/>
	
	<script type="text/javascript" src="/lib/select2-4.0.3/js/select2.min.js"></script>
	
	
	<script type="text/javascript"  class="init">
		$(document).ready(function() {
			$( "#prodi" ).select2({
			    theme: "bootstrap"
			});
		
			$('#status').change(function() {
				changeProdi();
			});
			
			initStatus();
			changeProdi();
		} );
		
		function initStatus(){
			var status_awal = $('#status_awal').val();
			$('#status').val(status_awal);
		}
		
		function changeProdi(){
			var status = $('#status').val();
			if(status == 0){
				 $('#prodi-block').hide();
			} else{
				$('#prodi-block').show();
			}
		}
	</script>
	
	<title th:text="'Change Status'"></title>
</head>
<body>
	
	<!-- HEADING PAGE -->
	<h2 layout:fragment="heading" th:text="'Ganti Status'" ></h2>
		
	<!-- BODY PAGE -->
	<div layout:fragment="content">
		<div class="row">
	   	    <div class="col-md-12 text-left">
	   	    	<form id="form1" class="form-horizontal" th:action="@{/peserta/changestatus/submit}" method="post">		
	   	    		<input type="hidden" th:value="${status}" id="status_awal"/>				
					<div class="form-group">
						<label class="control-label col-sm-3" for="nomor">Nomor Peserta</label>
						<div class="col-sm-6">
							<label class="control-label" th:text="${peserta.nomor}" ></label>
							<input type="hidden" id="nomor" th:field="${peserta.nomor}" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="nama">Nama Peserta</label>
						<div class="col-sm-6">
							<label class="control-label" th:text="${peserta.nama}" ></label>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3"  for="status">Status *</label>
						<div class="col-sm-6">
							<select class="form-control" name="status" id="status">
								<option th:value="0">Tidak Lulus</option>
								<option th:value="1">Lulus</option>
							</select>
						</div>
					</div>
					<div class="form-group" id="prodi-block">
						<label class="control-label col-sm-3" for="prodi">Program Studi *</label>
						<div class="col-sm-6">
							<select id="prodi" th:name="prodi" class="form-control" th:field="${peserta.prodi.kodeProdi}">
					             <option th:each="prodi,iterationStatus: ${daftarProdi}" th:value="${prodi.kodeProdi}" th:text="${prodi.namaProdi} + ' ' + ${prodi.univ.namaUniv}"></option>
                             </select>
						</div>
					</div>
					
								
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-6">
							<button type="submit" class="btn btn-primary" id="submitButton">Simpan</button>
							<a th:href="@{/}" class="btn btn-default">Batal</a>
						</div>
					</div>
				</form>
			   	    	
	       		
	   		</div>
		</div>
	</div>
</body>
</html>