<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/page">
<head>
	<link rel="stylesheet" type="text/css" href="/lib/datatables/css/dataTables.bootstrap.css"/>
	
	<title th:text="'Peserta ' + ${peserta.nomor}"></title>
</head>
<body>
	
	<!-- HEADING PAGE -->
	<h2 layout:fragment="heading" th:text="'Detail Peserta '+${peserta.nomor}" ></h2>
	
	<!-- BODY PAGE -->
	<div layout:fragment="content">
		<div class="row">
	   	    <div class="col-md-12 text-left">
	   	 
	       		<div class="table-responsive ">
                    <table class="table">
			        	<tr><td>Nomor</td><td>:</td><td th:text="${peserta.nomor}"></td></tr>
			        	<tr><td>Nama</td><td>:</td><td th:text="${peserta.nama}"></td></tr>
			        	<tr><td>Tanggal Lahir</td><td>:</td><td th:text="${#dates.format(peserta.tglLahir, 'd MMMM yyyy')}"></td></tr>
			        	<tr><td>Umur</td><td>:</td><td th:text="${umur}"></td></tr>
			        </table>
                 </div>
	   		</div>
		</div>
	</div>
</body>
</html>