<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/page">
<head>
	<link rel="stylesheet" type="text/css" href="/lib/datatables/css/dataTables.bootstrap.css"/>
	
	<script type="text/javascript" src="/lib/datatables/js/jquery.dataTables.js"></script>
	<script type="text/javascript" src="/lib/datatables/js/dataTables.bootstrap.js"></script>
	
	<script type="text/javascript"  class="init">
		$(document).ready(function() {
			$('#example').DataTable();
		} );
	</script>
	
	<title th:text="${prodi.kodeProdi} + ' - ' + ${prodi.namaProdi}"></title>
</head>
<body>
	
	<!-- HEADING PAGE -->
	<h2 layout:fragment="heading" th:text="${prodi.univ.kodeUniv} + ' - ' + ${prodi.univ.namaUniv}" ></h2>
	<h3 layout:fragment="sub-heading" th:text="${prodi.kodeProdi} + ' - ' + ${prodi.namaProdi}"></h3>
	<span layout:fragment="heading-description"><a th:text="${prodi.univ.urlUniv}" th:href="${prodi.univ.urlUniv}" style="color:blue;"></a></span>
	
	<!-- BODY PAGE -->
	<div layout:fragment="content">
		<div class="row">
	   	    <div class="col-md-12 text-left">
	   	    
	       		<h3>Daftar Peserta</h3>
	       		<div class="table-responsive ">
                    <table class="table" id="example">
			        	<thead>
			        		<tr>
				        		<th>Nomor Peserta</th>
				        		<th>Nama Peserta</th>
				        		<th>Menu</th>
			        		</tr>
			        	</thead>
			        	<tbody>
				        	<tr th:each="peserta,iterationStatus: ${prodi.daftarPeserta}">
				        		<td th:text="${peserta.nomor}"></td>
				        		<td th:text="${peserta.nama}"></td>
				        		<td>
				        			<a th:href="@{'/peserta?nomor='+${peserta.nomor}}" class="btn btn-primary">Lihat Detail</a>
				        		</td>
				        	</tr>
			        	</tbody>
			        </table>
                 </div>
	   		</div>
		</div>
	</div>
</body>
</html>