<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/page">
<head>
	<link rel="stylesheet" type="text/css" href="/lib/datatables/css/dataTables.bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="/lib/select2-4.0.3/css/select2.min.css"/>
	<link rel="stylesheet" type="text/css" href="/lib/select2-bootstrap/select2-bootstrap.min.css"/>
	<link rel="stylesheet" href="/lib/bootstrapvalidator/css/bootstrapValidator.min.css"/>
	
    <script type="text/javascript" src="/lib/bootstrapvalidator/js/bootstrapValidator.min.js"></script>
	<script type="text/javascript" src="/lib/datatables/js/jquery.dataTables.js"></script>
	<script type="text/javascript" src="/lib/datatables/js/dataTables.bootstrap.js"></script>
	<script type="text/javascript" src="/lib/select2-4.0.3/js/select2.min.js"></script>
	
	
	<script type="text/javascript"  class="init">
		$(document).ready(function() {
			$('#example').DataTable();
			
			$( "#univ" ).select2({
			    theme: "bootstrap"
			});
			
			$('#form1').bootstrapValidator({
		        feedbackIcons: {
		            valid: 'glyphicon glyphicon-ok',
		            invalid: 'glyphicon glyphicon-remove',
		            validating: 'glyphicon glyphicon-refresh'
		        },
		        fields: {
		        	kodeProdi: {
		                validators: {
		                    notEmpty: {
		                        message: 'Kode Prodi harus diisi.'
		                    }
		                }
		            },
		            namaProdi: {
		                validators: {
		                    notEmpty: {
		                        message: 'Nama Prodi harus diisi.'
		                    }
		                }
		            }
		        }
		    });
		} );
	</script>
	
	<title th:text="'Insert Prodi'"></title>
</head>
<body>
	
	<!-- HEADING PAGE -->
	<h2 layout:fragment="heading" th:text="'Insert Prodi'" ></h2>
		
	<!-- BODY PAGE -->
	<div layout:fragment="content">
		<div class="row">
	   	    <div class="col-md-12 text-left">
	   	    	<form id="form1" class="form-horizontal" th:action="@{/prodi/insert/submit}" th:object="${prodi}"  method="post">						
					<div class="form-group">
						<label class="control-label col-sm-3" for="kode_prodi">Kode Prodi *</label>
						<div class="col-sm-6">
							<input type="text" class="form-control required" id="kode_prodi"
								placeholder="Kode Prodi" th:field="*{kodeProdi}" maxlength="6" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="nama_prodi">Nama Prodi *</label>
						<div class="col-sm-6">
							<input type="text" class="form-control required" id="nama_prodi"
								placeholder="Nama Prodi" th:field="*{namaProdi}" maxlength="100"/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="univ">Universitas *</label>
						<div class="col-sm-6">
							<select th:field="*{univ}" class="form-control">
					             <option th:each="univ : ${daftarUniv}"
					                             th:value="${univ.kodeUniv}"
					                             th:text="${univ.namaUniv}" />
                             </select>
						</div>
					</div>
					
								
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-6">
							<button type="submit" class="btn btn-primary" id="submitButton">Simpan</button>
							<a th:href="@{/}" class="btn btn-default">Batal</a>
						</div>
					</div>
				</form>
			   	    	
	       		
	   		</div>
		</div>
	</div>
</body>
</html>