<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/page">
	
<head>
	<title>Prodi Not-Found</title>
</head>
<body>
	<h2 layout:fragment="heading">
		Error
	</h2>
	
	<div layout:fragment="content">
		<div class="row">
		    <div class="col-md-12 text-center">
		         <p th:text="'Maaf, Prodi dengan kode ' + ${kodeProdi} + ' tidak ditemukan.'"></p>
		    </div>
		</div>
	</div>
</body>
</html>