<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/page">
<head>	
	<title th:text="'Insert Prodi'"></title>
</head>
<body>
	
	<!-- HEADING PAGE -->
	<h2 layout:fragment="heading" th:text="'Success'" ></h2>
		
	<!-- BODY PAGE -->
	<div layout:fragment="content">
		<div class="row">
	   	    <div class="col-md-12 text-center">
	   	    	<p th:text="${message}">Data Berhasil di Simpan.</p>    	
	       		
	   		</div>
		</div>
	</div>
</body>
</html>