<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/page">
<head>
	<link rel="stylesheet" type="text/css" href="/lib/datatables/css/dataTables.bootstrap.css"/>
	
	<script type="text/javascript" src="/lib/datatables/js/jquery.dataTables.js"></script>
	<script type="text/javascript" src="/lib/datatables/js/dataTables.bootstrap.js"></script>
	
	<script type="text/javascript"  class="init">
		$(document).ready(function() {
			$('#example').DataTable();
		} );
	</script>
	
	<title>Daftar Universitas</title>
</head>
<body>
	<h2 layout:fragment="heading">
		Daftar Universitas
	</h2>
	
	<div layout:fragment="content">
		<div class="row">
	   	    <div class="col-md-12 text-left">
	       		<div class="table-responsive ">
                    <table class="table" id="example">
			        	<thead>
			        		<tr>
				        		<th>ID</th>
				        		<th>Nama</th>
				        		<th>Menu</th>
			        		</tr>
			        	</thead>
			        	<tbody>
				        	<tr th:each="univ,iterationStatus: ${daftarUniv}">
				        		<td th:text="${univ.kodeUniv}"></td>
				        		<td th:text="${univ.namaUniv}"></td>
				        		<td>
				        			<a th:href="@{'/univ/'+${univ.kodeUniv}}" class="btn btn-primary">Lihat Detail</a>
				        		</td>
				        	</tr>
			        	</tbody>
			        </table>
                 </div>
	   		</div>
		</div>
	</div>
</body>
</html>