<footer>
	<div class="container">
		<p>&copy; 2016 Start Bootstrap. All Rights Reserved.</p>
		<ul class="list-inline">
			<li><a href="#">Privacy</a></li>
			<li><a href="#">Terms</a></li>
			<li><a href="#">FAQ</a></li>
		</ul>
	</div>
</footer>